<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="au.gov.ga.earthsci.application"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="au.gov.ga.earthsci.application">
         </property>
         <property
               name="applicationXMI"
               value="au.gov.ga.earthsci.application/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/au.gov.ga.earthsci.application/css/default.css">
         </property>
         <property
         	name="lifeCycleURI"
         	value="bundleclass://au.gov.ga.earthsci.application/au.gov.ga.earthsci.application.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
