<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.application.defaultTheme" name="Application Default Theme" schema="schema/au.gov.ga.earthsci.application.defaultTheme.exsd"/>
   <extension-point id="au.gov.ga.earthsci.application.iconReplacementProviders" name="Icon Replacement Providers" schema="schema/au.gov.ga.earthsci.application.iconReplacementProviders.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="au.gov.ga.earthsci.application.compatibility.Application">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="EarthSci"
            application="au.gov.ga.earthsci.application.application">
         <property
               name="appName"
               value="EarthSci">
         </property>
         <property
               name="applicationXMI"
               value="au.gov.ga.earthsci.application/Application.e4xmi">
         </property>
         <property
         	name="lifeCycleURI"
         	value="bundleclass://au.gov.ga.earthsci.application/au.gov.ga.earthsci.application.LifeCycleManager">
         </property>
         <property
               name="cssTheme"
               value="au.gov.ga.earthsci.application.theme.default">
         </property>
         <property
               name="modelResourceHandler"
               value="bundleclass://au.gov.ga.earthsci.application/au.gov.ga.earthsci.application.bugfix389663.ModelResourceHandler">
         </property>
         <property
               name="rendererFactoryUri"
               value="bundleclass://au.gov.ga.earthsci.application/au.gov.ga.earthsci.application.compatibility.WorkbenchRendererFactoryFixed">
         </property>
      </product>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <inject
            class="au.gov.ga.earthsci.application.parts.globe.GlobeActivePartTracker"
            priority="0">
      </inject>
      <inject
            class="au.gov.ga.earthsci.application.theme.ThemeLoader"
            priority="0">
      </inject>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.hudLayers">
      <hud
            class="gov.nasa.worldwind.layers.ScalebarLayer"
            enabled="true"
            icon="icons/scalebar.gif"
            id="au.gov.ga.earthsci.application.hud.scalebar">
      </hud>
      <hud
            class="gov.nasa.worldwind.layers.WorldMapLayer"
            enabled="true"
            icon="icons/world.gif"
            id="au.gov.ga.earthsci.application.hud.worldmap">
      </hud>
      <hud
            class="au.gov.ga.earthsci.worldwind.common.layers.controls.ControlsLayer"
            enabled="true"
            icon="icons/navigation.png"
            id="au.gov.ga.earthsci.application.hud.controls">
      </hud>
      <hud
            class="gov.nasa.worldwind.layers.CrosshairLayer"
            enabled="false"
            icon="icons/crosshair.gif"
            id="au.gov.ga.earthsci.application.hud.crosshair">
      </hud>
      <hud
            class="gov.nasa.worldwind.layers.LatLonGraticuleLayer"
            enabled="false"
            icon="icons/graticule.png"
            id="au.gov.ga.earthsci.application.hud.graticule">
      </hud>
      <hud
            class="gov.nasa.worldwind.layers.CompassLayer"
            enabled="true"
            icon="icons/compass.gif"
            id="au.gov.ga.earthsci.application.hud.compass">
      </hud>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="au.gov.ga.earthsci.application.theme.default"
            label="Default theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="html"
            id="org.eclipse.core.runtime.html"
            name="HTML"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.mimeTypes">
      <mime-type
            content-type-id="org.eclipse.core.runtime.html"
            name="text/html">
      </mime-type>
      <mime-type
            content-type-id="org.eclipse.core.runtime.html"
            name="application/xhtml+xml">
      </mime-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
      <filter
            class="au.gov.ga.earthsci.application.intent.HtmlIntentHandler"
            priority="0">
         <content-type
               id="org.eclipse.core.runtime.html">
         </content-type>
      </filter>
   </extension>

</plugin>
