<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="au.gov.ga.earthsci.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="au.gov.ga.earthsci.ui.Perspective"
            id="au.gov.ga.earthsci.ui.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         name="EarthSci"
         point="org.eclipse.core.runtime.products">
      <product
            application="au.gov.ga.earthsci.ui.application"
            name="EarthSci Product">
         <property
               name="appName"
               value="EarthSci Product">
         </property>
      </product>
   </extension>

</plugin>
