<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="au.gov.ga.earthsci.catalog.wms.capabilities.xml"
            name="WMS capabilities"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="WMS_Capabilities">
            </parameter>
            <parameter
                  name="element"
                  value="WMT_MS_Capabilities">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
      <filter
            class="au.gov.ga.earthsci.catalog.wms.WMSCapabilitiesIntentHandler"
            priority="0"
            returns-result="true">
         <content-type
               id="au.gov.ga.earthsci.catalog.wms.capabilities.xml">
         </content-type>
         <return-type
               class="au.gov.ga.earthsci.catalog.wms.WMSCapabilitiesCatalogTreeNode">
         </return-type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.editable.models">
      <model
            model="au.gov.ga.earthsci.catalog.wms.layer.WMSLayerModelElement"
            sdef-context="au.gov.ga.earthsci.catalog.wms.layer.WMSLayerModelElement"
            sdef-name="WMSLayer"
            type="au.gov.ga.earthsci.catalog.wms.layer.WMSLayer">
      </model>
   </extension>

</plugin>
