<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="au.gov.ga.earthsci.model.render.geometryRendererCreators">
      <creator
            class="au.gov.ga.earthsci.model.core.render.BasicRendererCreator">
      </creator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
          <filter
            class="au.gov.ga.earthsci.model.core.raster.GDALRasterModelIntentHandler"
            priority="0"
            returns-result="true"
            label="3D model from raster"
            description="Generate a 3D model layer, using a supported raster dataset">
         <content-type
               id="au.gov.ga.earthsci.core.content.gdalraster">
         </content-type>
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <return-type
               class="au.gov.ga.earthsci.model.IModel">
         </return-type>
      </filter>
          <filter
                class="au.gov.ga.earthsci.model.core.raster.GDALRasterModelIntentHandler"
                priority="0"
                returns-result="true"
                label="3D model from raster"
            	description="Generate a 3D model layer, using a supported raster dataset">
             <uri
                   scheme="gdalrastermodel">
             </uri>
             <return-type
                   class="gov.nasa.worldwind.layers.Layer">
             </return-type>
             <return-type
                   class="au.gov.ga.earthsci.model.IModel">
             </return-type>
          </filter>
   </extension>

</plugin>
