<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.model.render.geometryRendererCreators" name="Model Geometry Renderer Creators" schema="schema/au.gov.ga.earthsci.model.render.geometryRendererCreators.exsd"/>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <inject
            class="au.gov.ga.earthsci.model.render.RendererCreatorRegistry"
            priority="0">
      </inject>
   </extension>

</plugin>
