<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.bookmark.applicators" name="Bookmark Property Applicators" schema="schema/au.gov.ga.earthsci.bookmark.applicators.exsd"/>
   <extension-point id="au.gov.ga.earthsci.bookmark.creators" name="Bookmark Property Creators" schema="schema/au.gov.ga.earthsci.bookmark.creators.exsd"/>
   <extension-point id="au.gov.ga.earthsci.bookmark.exporters" name="Bookmark Property Exporters" schema="schema/au.gov.ga.earthsci.bookmark.exporters.exsd"/>
   
   <extension
         point="au.gov.ga.earthsci.bookmark.creators">
      <creator
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyPersister">
      </creator>
      <creator
            class="au.gov.ga.earthsci.bookmark.properties.layer.LayersPropertyPersister">
      </creator>
      <creator
            class="au.gov.ga.earthsci.bookmark.properties.exaggeration.ExaggerationPropertyPersister">
      </creator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.bookmark.exporters">
      <exporter
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyPersister">
         exporter body text
      </exporter>
      <exporter
            class="au.gov.ga.earthsci.bookmark.properties.layer.LayersPropertyPersister">
      </exporter>
      <exporter
            class="au.gov.ga.earthsci.bookmark.properties.exaggeration.ExaggerationPropertyPersister">
      </exporter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.bookmark.applicators">
      <applicator
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyApplicator">
      </applicator>
      <applicator
            class="au.gov.ga.earthsci.bookmark.properties.layer.LayersPropertyApplicator">
      </applicator>
      <applicator
            class="au.gov.ga.earthsci.bookmark.properties.exaggeration.ExaggerationPropertyApplicator">
      </applicator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <bind
            binding="au.gov.ga.earthsci.bookmark.model.IBookmarks"
            class="au.gov.ga.earthsci.bookmark.model.Bookmarks"
            priority="0">
      </bind>
      <inject
            class="au.gov.ga.earthsci.bookmark.BookmarkPropertyApplicatorRegistry"
            priority="-10">
      </inject>
      <inject
            class="au.gov.ga.earthsci.bookmark.BookmarkPropertyFactory"
            priority="-10">
      </inject>
   </extension>
</plugin>
