<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/ga.css"
            id="au.gov.ga.earthsci.theme.ga"
            label="GA Theme">
      </theme>
   </extension>
   <extension
         point="au.gov.ga.earthsci.application.defaultTheme">
      <defaultTheme
            themeId="au.gov.ga.earthsci.theme.ga">
      </defaultTheme>
   </extension>
</plugin>
