<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.dispatchFilters">
      <filter
            class="au.gov.ga.earthsci.layer.ui.LayerTreeNodeDispatchHandler"
            name="Layer"
            priority="0">
         <type
               class="au.gov.ga.earthsci.layer.tree.ILayerTreeNode">
         </type>
         <type
               class="gov.nasa.worldwind.layers.Layer">
         </type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.editable.elements">
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.LayerElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.LayerElement"
            sdef-name="Layer"
            type="gov.nasa.worldwind.layers.Layer">
      </element>
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.SkyGradientLayerWrapperElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.SkyGradientLayerWrapperElement"
            sdef-name="SkyGradientLayerWrapper"
            type="au.gov.ga.earthsci.layer.wrappers.SkyGradientLayerWrapper">
      </element>
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.TiledImageLayerWrapperElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.TiledImageLayerWrapperElement"
            sdef-name="TiledImageLayerWrapper"
            type="au.gov.ga.earthsci.layer.wrappers.TiledImageLayerWrapper">
      </element>
   </extension>

</plugin>
