<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.dispatchFilters">
      <filter
            class="au.gov.ga.earthsci.layer.ui.LayerTreeNodeDispatchHandler"
            name="Layer"
            priority="0">
         <type
               class="au.gov.ga.earthsci.layer.tree.ILayerTreeNode">
         </type>
         <type
               class="gov.nasa.worldwind.layers.Layer">
         </type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.editable.elements">
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.LayerElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.LayerElement"
            sdef-name="Layer"
            type="gov.nasa.worldwind.layers.Layer">
      </element>
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.SkyGradientLayerWrapperElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.SkyGradientLayerWrapperElement"
            sdef-name="SkyGradientLayerWrapper"
            type="au.gov.ga.earthsci.layer.wrappers.SkyGradientLayerWrapper">
      </element>
      <element
            element="au.gov.ga.earthsci.layer.ui.edit.TiledImageLayerWrapperElement"
            sdef-context="au.gov.ga.earthsci.layer.ui.edit.TiledImageLayerWrapperElement"
            sdef-name="TiledImageLayerWrapper"
            type="au.gov.ga.earthsci.layer.wrappers.TiledImageLayerWrapper">
      </element>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
      <filter
            class="au.gov.ga.earthsci.layer.ui.wizard.gocad.GOCADLayerIntentHandler"
            description="Layer created from a GOCAD object"
            icon32="icons/gocadlayer_intent.png"
            label="GOCAD layer"
            priority="0"
            prompt="true"
            returns-result="true">
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <content-type
               id="au.gov.ga.earthsci.layer.gocad.object">
         </content-type>
      </filter>
   </extension>

</plugin>
