<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/theme.css"
            id="au.gov.ga.earthsci.theme"
            label="Theme CSS">
      </theme>
   </extension>
   <extension
         point="au.gov.ga.earthsci.application.defaultTheme">
      <defaultTheme
            id="au.gov.ga.earthsci.theme">
      </defaultTheme>
   </extension>
</plugin>
