<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="au.gov.ga.earthsci.gitinfo.GitInformationInstallationPage"
            id="au.gov.ga.earthsci.gitinfo.installationpage"
            name="Git">
      </page>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <injectable
            class="au.gov.ga.earthsci.gitinfo.PropertyInitializer"
            priority="0">
      </injectable>
   </extension>

</plugin>
