<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.notification.receiver" name="Notification Receiver" schema="schema/au.gov.ga.earthsci.notification.receiver.exsd"/>
   <extension-point id="au.gov.ga.earthsci.notification.categoryProvider" name="Notification Category Provider" schema="schema/au.gov.ga.earthsci.notification.categoryProvider.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.retrieve.retriever" name="Resource Retriever" schema="schema/au.gov.ga.earthsci.core.retrieve.retriever.exsd"/>
   <extension-point id="au.gov.ga.earthsci.hud" name="Heads Up Display Layer" schema="schema/au.gov.ga.earthsci.hud.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.xmlLoaders" name="XmlLoaders" schema="schema/au.gov.ga.earthsci.core.xmlLoaders.exsd"/>
   <extension
         point="au.gov.ga.earthsci.core.retrieve.retriever">
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.HttpRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.FileRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.BundleResourceRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.JarRetriever">
      </retriever>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            id="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            name="Network Connections">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences">
      </initializer>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectable">
      <inject
            class="au.gov.ga.earthsci.core.xml.XmlLoaderManager"
            priority="10">
      </inject>
      <inject
            class="au.gov.ga.earthsci.common.util.ExtensionRegistryUtil"
            priority="10">
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrieverFactory"
            priority="10">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrieverFactory">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrievalService"
            priority="10">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrievalService">
         </type>
      </inject>
      <injectable
            class="au.gov.ga.earthsci.core.retrieve.RetrievalServiceFactory"
            priority="10">
      </injectable>
      <injectable
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences"
            priority="0">
      </injectable>
      <injectable
            class="au.gov.ga.earthsci.core.worldwind.WorldWindConfiguration"
            priority="0">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.notification.NotificationManager"
            priority="0">
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.worldwind.WorldWindModel"
            priority="0">
         <type
               class="au.gov.ga.earthsci.core.worldwind.WorldWindModel">
         </type>
         <type
               class="au.gov.ga.earthsci.core.worldwind.ITreeModel">
         </type>
      </inject>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intentFilters">
      <filter
            class="au.gov.ga.earthsci.core.model.layer.ClassLayerIntentHandler"
            priority="0">
         <scheme
               name="class">
         </scheme>
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
      </filter>
      <filter
            class="au.gov.ga.earthsci.core.intent.XmlRetrieveIntentHandler"
            priority="0">
         <content-type
               id="org.eclipse.core.runtime.xml">
         </content-type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intentResourceLocators">
      <locator
            class="au.gov.ga.earthsci.core.intent.ClasspathIntentResourceLocator"
            priority="0">
      </locator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.xmlLoaders">
      <loader
            class="au.gov.ga.earthsci.core.model.layer.LayerXmlLoader"
            filter="au.gov.ga.earthsci.core.model.layer.LayerXmlLoader"
            priority="0">
      </loader>
   </extension>

</plugin>
