<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.core.retrieve.retrievers" name="Resource Retriever" schema="schema/au.gov.ga.earthsci.core.retrieve.retrievers.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.urlStreamHandlers" name="URL Stream Handlers" schema="schema/au.gov.ga.earthsci.core.urlStreamHandlers.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.mimeTypes" name="MIME Types" schema="schema/au.gov.ga.earthsci.core.mimeTypes.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="tif,tiff,grd,ascii,asc,ecw,ers,png,jpg,jpeg,vrt,adf,bt,e00,bil,hdr,lan,gis,pgm,ppm,dds,sid,jp2,ntf,ntif,bmp,dt0,dt1,dt2,dem"
            id="au.gov.ga.earthsci.core.content.gdalraster"
            name="GDAL Raster"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.retrieve.retrievers">
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.HttpRetriever">
      </retriever>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            id="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            name="Network Connections">
      </page>
      <page
            class="au.gov.ga.earthsci.core.worldwind.RetrievePreferencePage"
            id="au.gov.ga.earthsci.core.retrieve.RetreivePreferencePage"
            name="Resource Retrieval">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences">
      </initializer>
      <initializer
            class="au.gov.ga.earthsci.core.worldwind.WorldWindRetrievalServicePreferences">
      </initializer>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <injectable
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences"
            priority="1000">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.common.util.ExtensionRegistryUtil"
            priority="100">
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrieverFactory"
            priority="10">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrieverFactory">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrievalService"
            priority="10">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrievalService">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.common.color.ColorMaps"
            priority="10">
      </inject>
      <injectable
            class="au.gov.ga.earthsci.core.worldwind.WorldWindConfiguration"
            priority="0">
      </injectable>
      <injectable
            class="au.gov.ga.earthsci.core.worldwind.WorldWindRetrievalServicePreferences"
            priority="0">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.notification.NotificationManager"
            priority="0">
      </inject>
      <injectable
            class="au.gov.ga.earthsci.core.retrieve.RetrievalServiceFactory"
            priority="10">
      </injectable>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
      <filter
            class="au.gov.ga.earthsci.core.seed.SeedXmlIntentHandler"
            priority="0"
            returns-result="false"
            label="Seed file"
            description="Seeds the application with defaults from a seed XML file">
         <content-type
               id="au.gov.ga.earthsci.seed.xml">
         </content-type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.urlStreamHandlers">
      <handler
            class="au.gov.ga.earthsci.core.url.ExtensionIconURLStreamHandlerService">
         <protocol
               name="extensionicon">
         </protocol>
      </handler>
      <handler
            class="au.gov.ga.earthsci.core.url.SystemIconURLStreamHandlerService">
         <protocol
               name="systemicon">
         </protocol>
      </handler>
      <handler
            class="au.gov.ga.earthsci.core.url.ClasspathURLStreamHandlerService">
         <protocol
               name="classpath">
         </protocol>
      </handler>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.mimeTypes">
      <mime-type
            content-type-id="org.eclipse.core.runtime.text"
            name="text/plain">
      </mime-type>
      <mime-type
            content-type-id="org.eclipse.core.runtime.xml"
            name="text/xml">
      </mime-type>
      <mime-type
            content-type-id="org.eclipse.core.runtime.xml"
            name="application/xml">
      </mime-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.contentTypeResolvers">
      <resolver
            class="au.gov.ga.earthsci.core.mime.HttpContentTypeResolver">
      </resolver>
   </extension>

</plugin>
