<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.notification.receiver" name="Notification Receiver" schema="schema/au.gov.ga.earthsci.notification.receiver.exsd"/>
   <extension-point id="au.gov.ga.earthsci.notification.categoryProvider" name="Notification Category Provider" schema="schema/au.gov.ga.earthsci.notification.categoryProvider.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.retrieve.retriever" name="Resource Retriever" schema="schema/au.gov.ga.earthsci.core.retrieve.retriever.exsd"/>
   <extension-point id="au.gov.ga.earthsci.core.model.catalog.provider" name="Catalog Provider" schema="schema/au.gov.ga.earthsci.core.model.catalog.provider.exsd"/>
   <extension-point id="au.gov.ga.earthsci.bookmark.applicator" name="Bookmark Property Applicator" schema="schema/au.gov.ga.earthsci.bookmark.applicator.exsd"/>
   <extension-point id="au.gov.ga.earthsci.bookmark.creator" name="Bookmark Property Creator" schema="schema/au.gov.ga.earthsci.bookmark.creator.exsd"/>
   <extension-point id="au.gov.ga.earthsci.bookmark.exporter" name="Bookmark Property Exporter" schema="schema/au.gov.ga.earthsci.bookmark.exporter.exsd"/>
   <extension
         point="au.gov.ga.earthsci.core.retrieve.retriever">
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.HttpRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.FileRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.BundleResourceRetriever">
      </retriever>
      <retriever
            class="au.gov.ga.earthsci.core.retrieve.retriever.JarRetriever">
      </retriever>
   </extension>
   <extension
         point="au.gov.ga.earthsci.core.model.catalog.provider">
      <provider
            class="au.gov.ga.earthsci.core.model.catalog.dataset.DatasetXMLCatalogProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            id="au.gov.ga.earthsci.core.proxy.ProxyPreferencePage"
            name="Network Connections">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences">
      </initializer>
   </extension>
   <extension
         point="au.gov.ga.earthsci.bookmark.creator">
      <creator
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyPersister">
      </creator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.bookmark.exporter">
      <exporter
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyPersister">
         exporter body text
      </exporter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.bookmark.applicator">
      <applicator
            class="au.gov.ga.earthsci.bookmark.properties.camera.CameraPropertyApplicator">
      </applicator>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectable">
      <inject
            class="au.gov.ga.earthsci.core.util.ExtensionRegistryUtil">
      </inject>
      <injectable
            class="au.gov.ga.earthsci.core.proxy.ProxyPreferences">
      </injectable>
      <injectable
            class="au.gov.ga.earthsci.core.worldwind.WorldWindConfiguration">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrieverFactory">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrieverFactory">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.retrieve.RetrievalService">
         <type
               class="au.gov.ga.earthsci.core.retrieve.IRetrievalService">
         </type>
      </inject>
      <injectable
            class="au.gov.ga.earthsci.core.retrieve.RetrievalServiceFactory">
      </injectable>
      <injectable
            class="au.gov.ga.earthsci.core.model.catalog.CatalogFactory">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.notification.NotificationManager">
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.worldwind.WorldWindModel">
         <type
               class="au.gov.ga.earthsci.core.worldwind.WorldWindModel">
         </type>
         <type
               class="au.gov.ga.earthsci.core.worldwind.ITreeModel">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.model.catalog.CatalogModel">
         <type
               class="au.gov.ga.earthsci.core.model.catalog.ICatalogModel">
         </type>
      </inject>
      <inject
            class="au.gov.ga.earthsci.core.worldwind.WorldWindView">
         <type
               class="au.gov.ga.earthsci.core.worldwind.WorldWindView">
         </type>
         <type
               class="gov.nasa.worldwind.view.orbit.OrbitView">
         </type>
         <type
               class="gov.nasa.worldwind.View">
         </type>
      </inject>
      <bind
            binding="au.gov.ga.earthsci.bookmark.model.IBookmarks"
            implementation="au.gov.ga.earthsci.bookmark.model.Bookmarks">
      </bind>
      <inject
            class="au.gov.ga.earthsci.bookmark.BookmarkPropertyApplicatorRegistry">
      </inject>
      <inject
            class="au.gov.ga.earthsci.bookmark.BookmarkPropertyFactory">
      </inject>
   </extension>

</plugin>
