<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="au.gov.ga.earthsci.layer.hudLayers" name="Heads Up Display Layer" schema="schema/au.gov.ga.earthsci.layer.hudLayers.exsd"/>
   <extension-point id="au.gov.ga.earthsci.layers" name="Layers" schema="schema/au.gov.ga.earthsci.layers.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="au.gov.ga.earthsci.layer.xml"
            name="XML layer definition"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{}Layer">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="au.gov.ga.earthsci.elevationmodel.xml"
            name="XML elevation model definition"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{}ElevationModel">
            </parameter>
         </describer>
      </content-type>
      <content-type
            file-extensions="kml,kmz"
            id="au.gov.ga.earthsci.layer.kml"
            name="KML layer"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="au.gov.ga.earthsci.injectables">
      <injectable
            class="au.gov.ga.earthsci.layer.worldwind.WorldWindConfiguration"
            priority="10000">
      </injectable>
      <inject
            class="au.gov.ga.earthsci.layer.worldwind.WorldWindModel"
            priority="0">
         <type
               class="au.gov.ga.earthsci.layer.worldwind.WorldWindModel">
         </type>
         <type
               class="au.gov.ga.earthsci.layer.worldwind.ITreeModel">
         </type>
      </inject>
   </extension>
   <extension
         point="au.gov.ga.earthsci.intent.filters">
      <filter
            class="au.gov.ga.earthsci.layer.intent.ClassLayerIntentHandler"
            description="Layer created from a Java class"
            icon32="icons/classlayer_intent.png"
            label="Class layer"
            priority="0"
            returns-result="true"
            prompt="true">
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <uri
               scheme="class">
         </uri>
      </filter>
      <filter
            class="au.gov.ga.earthsci.layer.intent.LayerXmlIntentHandler"
            description="Layer created from an XML layer definition"
            icon32="icons/xmllayer_intent.png"
            label="XML layer"
            priority="0"
            returns-result="true"
            prompt="true">
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <content-type
               id="au.gov.ga.earthsci.layer.xml">
         </content-type>
         <content-type
               id="au.gov.ga.earthsci.elevationmodel.xml">
         </content-type>
      </filter>
      <filter
            class="au.gov.ga.earthsci.layer.intent.KmlLayerIntentHandler"
            description="Layer created from a KML document using NASA World Wind&apos;s KML support"
            icon32="icons/kmllayer_intent.png"
            label="KML layer"
            priority="0"
            returns-result="true"
            prompt="true">
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <content-type
               id="au.gov.ga.earthsci.layer.kml">
         </content-type>
      </filter>
      <filter
            class="au.gov.ga.earthsci.layer.intent.FileLayerIntentHandler"
            description="Create a layer from a supported imagery/elevation dataset, using a generated local tileset"
            icon32="icons/tiledimagelayer_intent.png"
            label="Tiled imagery/elevation layer"
            priority="0"
            returns-result="true"
            prompt="true">
         <return-type
               class="gov.nasa.worldwind.layers.Layer">
         </return-type>
         <content-type
               id="au.gov.ga.earthsci.core.content.gdalraster">
         </content-type>
      </filter>
   </extension>
   <extension
         point="au.gov.ga.earthsci.layers">
      <wrapper
            class="au.gov.ga.earthsci.layer.wrappers.DefaultLayerWrapper"
            id="DefaultLayerWrapper"
            wraps="gov.nasa.worldwind.layers.Layer">
      </wrapper>
      <wrapper
            class="au.gov.ga.earthsci.layer.wrappers.SkyGradientLayerWrapper"
            id="SkyGradientLayerWrapper"
            wraps="gov.nasa.worldwind.layers.SkyGradientLayer">
      </wrapper>
      <wrapper
            class="au.gov.ga.earthsci.layer.wrappers.TiledImageLayerWrapper"
            id="TiledImageLayerWrapper"
            wraps="gov.nasa.worldwind.layers.TiledImageLayer">
      </wrapper>
      <drawOrder
            class="gov.nasa.worldwind.layers.Layer"
            value="0">
      </drawOrder>
      <drawOrder
            class="au.gov.ga.earthsci.worldwind.common.layers.model.ModelLayer"
            value="-10">
      </drawOrder>
   </extension>

</plugin>
